* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  /*var-colors*/
  --black: hsl(0, 0%, 18%);
  --gray: hsl(213, 5%, 32%);
  --lighter-gray: hsl(213, 0%, 70%);
  --blue: hsl(218, 89%, 61%);
  --dark-blue:hsl(218, 100%, 40%);


  animation: fade-in 1.75s forwards;
  animation-iteration-count: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
header {
  display: flex;
  justify-content: center;
  padding: 25px 0px 0px 25px;
  margin-bottom: 35px;
}
#logo-google {
  width: 130px;
}
h1 {
  color: var(--black);
  font-size: 42px;
  font-weight: 600;
  text-align: left;
  margin: 0px 0px 4px;
  padding: 0px 15px 0px 15px;
}
#container {
  display: flex;
  flex-direction: column;
  padding: 0px 18px 0px 18px;
  max-width: 800px;
  height: fit-content;
  margin: 0 auto;
}
#description {
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
  padding: 0px 15px 0px 15px;
}
#logo-android {
  margin: 0 auto;
  position: relative;
  bottom: 34px;
  opacity: 0.7;
  width: 45px;
  height: auto;
}
#survey-form-container {
  animation: move-up 1.4s forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.25, 0.30, 1.20);

  border-radius: 8px;
  border: solid hsla(218, 5%, 32%, 0.175) 0.25px;
  box-shadow: 2px 2px 20px #dfdfdf,
    -5px -5px 15px #ffffff00;
  display: flex;
  flex-direction: column;

  margin: 64px 0px 0px 0px;
  padding: 0px 24px 32px 24px;
  height: fit-content;

  position: relative;
  top: 10px;
}
h4 {
  animation: form-fade-in 2s;
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 8px 0px;
}
@keyframes move-up {
  0% {
    position: relative;
    top: 1000px;
  }

  100% {
    bottom: 1px;
  }
}
form {
  display: flex;
  flex-direction: column;
  animation: form-fade-in 3s 0s;
  animation-timing-function: cubic-bezier(0.75, 0, 0, 1.25);
  margin: 0px 0px 0px 0px;
}
@keyframes form-fade-in {
  0% {
    opacity: 0;
  }
}
.question {
  display: flex;
  flex-direction: column;
  margin: 0 0 36px 0;
}
#dropdown{
  cursor: pointer;
}
input[type=checkbox]{
  cursor: pointer;
}
input[type=radio]{
  cursor: pointer;
}
label {
  margin: 0 0 8px 0;
  color: var(--black);
}
.radio-checkmark {
  margin: 0px 5px 0px 0px;
}
#divider {
  margin-bottom: 36px;
  opacity: 0.4;
}
h3{
  color: var(--black);
  font-size: 24px;
  margin: 0px 0px 4px 0px;
}
.text-box {
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--lighter-gray);
  box-shadow: 2px 2px 20px #dfdfdf,
  -5px -5px 15px #ffffff00;
  padding: 4px 12px 4px 12px;
}
.personal-information{
  margin: 0px 0px 24px 0px;
}
.personal-information p{
  margin-bottom: 24px;
}
#comments{
  align-self: flex-start;
  height: 125px;
  min-width: 100%;
  margin: 0px 0px 32px 0px;
  padding: 12px 12px 12px 12px;
  text-align: left;
}
input[type=submit]{
  align-self: flex-end;
  background-color: var(--blue);
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 20px #dfdfdf,
  -5px -5px 15px #ffffff00;
  color: white;

  font-size: 20px;
  font-weight: 500;

  width: fit-content;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}
input[type=submit]:hover{
  background-color: var(--dark-blue);
}
footer{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 64px 0px 24px 0px;
}
h5{
  font-size: 18px;
  color: var(--lighter-gray);
}
h6{
  font-size: 16px;
  color: var(--lighter-gray);
}
#social-network{
  display: flex;
  margin: 20px 0px 20px 0px;
  width: 150px;
  justify-content: space-evenly;
}
.logo-social{
  width: 40px;
  height: auto;
  opacity: 0.4;
}
.logo-social:hover{
  opacity: 0.7;
}
#free-code-camp{
  color: var(--gray);
}
